<header>
  <div><h1>{{name}}</h1></div>
  <div>
    <p><strong>Born:</strong></p>
    <p>Date: {{birthdate}}</p>
    <p>Place: {{birthplace}}</p>
  </div>
  <br />
  <div>
    <p><strong>Death:</strong></p>
    <p>Date: {{deathdate}}</p>
    <p>Place: {{deathplace}}</p>
  </div>
  <br />
  <div>
    <p><strong>Nationality:</strong> {{nationality}}</p>
    <p><strong>Occupation:</strong> {{occupation}}</p>
  </div>
  <br />
  <div>
    <details>
      <summary><b>Known for:</b></summary>
      <ul>
        {{#each known_for}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </details>
  </div>
</header>
<hr />
<main>
{{> title data="Education" big=true}}
<section>
	{{#each education}}
<div>{{degree}}, {{institution}}, {{year}}</div>
<div>Field: {{field}}</div>
{{/each}}
</section>
<hr>
{{>title data="Publications" big=true}}
<section>
	{{#each notable_publications}}
	<div>
		<cite>{{title}}</cite> <mark>{{year}}</mark> <small>{{publisher}}</small>
	</div>
	{{/each}}
</section>
<hr>
{{>title data="Patners" big=true}}
<section>
	{{#each partners}}
	<div>
		<ul>
			<li><b>{{name}}, ({{years}})</b></li>
			<cite>{{relationship}}</cite>
		</ul>
	</div>
	{{/each}}
</section>
<hr>
 <section>
    {{> title data='Awards' big=true }}
    {{#each awards}}
      <div>
        <b>{{title}}</b> ({{year}})
        <br>
        <em>{{description}}</em>
      </div>
    {{/each}}
  </section>

  <hr>

  <section>
    {{> title data='Influence' big=true }}
    <br>
    {{> title data='InfluenceS'  }}
    {{#each influences}}
      <div>
       <ul>
		<li> {{this}}</li>
	   </ul>
      <br>
      </div>
    {{/each}}
    
    
    <br>
    {{> title data='InfluenceD'  }}
    {{#each influenced}}
      <div>
       <ul>
		<li> {{this}}</li>
	   </ul>
      <br>
      </div>
    {{/each}}

  </section>

  <hr>

  <section>
      {{> title data='Quotes' big=true }}
      <div>
      
        {{#each quotes}}
          <q>{{this}}</q>
          <br>
        {{/each}}
      </div>
  </section>

  <hr>

  <section>
      {{> title data='Major discoveries' big=true }}
      {{#each major_discoveries}}
      <div>
        <b>{{title}}</b> ({{year}})
        <br>
        <em>{{description}}</em>
      </div>
      {{/each}}

  </section>

  <hr>

  <section>
      {{> title data='Contributions' big=true }}
      {{#with contributions}}
      <div>
        <b>{{title}}</b> ({{year}}) - {{field}}
        <br>
        <em>{{description}}</em>
      </div>
      {{/with}}
  </section>

</main>