<div>
  {{#with person}}
    <header>
      <div>
        <h1>{{name}}</h1>
      </div>
      <div>
        <strong>{{age}} years old. {{gender}}</strong>
      </div>

      <br />

      <div>
        {{#with address}}
          <address>
            <b>
              {{street}},
              {{city}},
              {{state}},
              {{zip}},
              {{country}}
            </b>
          </address>
        {{/with}}
      </div>
    </header>

    <hr />

    <main>
        {{> title data="Education" big=true}}
   <section>
       <div>
        {{#each education}}					
				<div><strong>{{degree}}</strong></div>
				<div>Major: {{major}}</div>
				<br>
				<div><em>{{university}}</em></div>
				<div>
					<small>
						{{#if graduationYear}}
							Graduation year: {{graduationYear}}
						{{else}}
							still studying
						{{/if}}
					</small>
				</div>					
			{{/each}}	
      </div>
   </section>
   <hr>

	<section>
		{{> title data="Work Experience" big=true }}
		<div>
			{{#each workExperience}}
				<div>{{title}}</div>
				<div>
					{{startDate}} - 
					{{#if endDate}}
						{{endDate}}
					{{else}}
						still working
					{{/if}}
				</div>

				<br>

				<div>{{> link text=company href='https://about.google/' blank=true noLine=true }}</div>
				<br>
				<div><b>Responsibilities:</b></div>	
				<div>
					<ul>
						{{#each responsibilities}}
							<li>
								<div>{{this}}</div>
							</li>
						{{/each}}
					</ul>
				</div>

				<hr>

				{{> title data='About company:'}}
				<div>Industry: {{industry}}</div>
				<div>Was founded in {{year_founded}}</div>
				<br>
				<div><b>Evployees:</b></div>
				<br>
				<div>
					{{#each employees}}
						<div>
							{{position}} ({{department}} department) - {{name}} 
						</div>
						<br>
						<div><strong>Projects:</strong></div>
						<div>
							<ul>
								{{#each projects}}
									<li>
										<div>{{name}}<small>({{status}})</small></div>
										<div>{{description}}</div>
										<br>
										<div><b>Teams:</b></div>
										<div>
											<ul>
												{{#each teams}}
													<li>
														<div>{{team_name}}</div>
															<br>		
														{{#with team_leader}}
															<div>
																<b>{{title}}</b>: {{name}} ({{> link href='mailto:{{email}}' text=email noLine=true blank=true}})
															</div>																																																																											
														{{/with}}
														<br>
														<div><b>Team members:</b></div>
														<div>
															<ul>
																{{#each team_members}}
																	<li>
																		<div>
																			<em>{{title}}</em>: {{name}}
																			({{> link href='mailto:{{email}}' text=email noLine=true blank=true}})	
																		</div>
																		<br>
																		<div>Skills:</div>
																		<div>
																			<ul>
																				{{#each skills}}
																					<li>{{this}}</li> 
																				{{/each}}
																			</ul>
																		</div>
																		<br>
																		<div>Projects:</div>
																		<div>
																			<ul>
																				{{#each projects}}
																					<li>
																						<div>{{name}}</div>
																						<div>{{description}}</div>
																						<br>
																						<div>Technologies:</div>
																						<div>
																							<ul>
																								{{#each technologies}}
																									<li>{{this}}</li>
																								{{/each}}
																							</ul>
																						</div>
																						<div>Team members:</div>
																						<div>
																							<ul>
																								{{#each team_members}}
																									<li>
																										<div><em>{{title}}:</em> {{name}}</div>
																									</li>
																								{{/each}}
																							</ul>
																						</div>
																					</li>
																				{{/each}}
																			</ul>
																		</div>
																	</li>
																{{/each}}
															</ul>
														</div>																		
													</li>
												{{/each}}
											</ul>
										</div>
									</li>
								{{/each}}
							</ul>
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>	
	</section>


    </main>

  {{/with}}
</div>