{{#with program.excursion}}
<header>

  <div>
    <h1>Excursion program "{{name}}"</h1>
  </div>
  <div>
    {{date}} <address>{{location.city}}, {{location.country}}</address>
  </div>
</header>

<hr>
<hr>

<main>
  {{#each program}}
  <section>
    {{> title data=name big=true}}
    <div><em>Type:</em> {{type}}</div>
    <div class="mb-3"><em>Duration:</em> {{duration}}h.</div>
    {{#with details}}

    {{#if museum}}

    {{#with museum}}
    {{> title data=name }}

    {{#with location}}
    <div>
      <address>
        {{address}}, {{city}}, {{country}}
      </address>
    </div>
    {{/with}}


    {{#each exhibits}}
    <div class="mt-4">
      <strong>{{name}}</strong>
      {{#if artist}}
      ({{artist}})
      {{/if}}
    </div>
    <div>{{description}}</div>
    <div class="mb-4">
      <small>
        {{#if audio_guide}}
        There is an audio guide
        {{/if}}
      </small>
    </div>
    {{/each}}
    {{/with}}

    {{else}}

    {{#with venue}}
    {{> title data=name}}

    {{#with location}}
    <div>
      <address>
        {{address}},{{city}}, {{country}}
      </address>
    </div>
    {{/with}}

    {{/with}}


    {{#each performers}}
    <div class="mt-4">
      <strong>{{name}}</strong>
    </div>
    <div class="mb-4">
      <small>{{type}}</small>
    </div>

    {{/each}}

    {{/if}}


    {{#with guide}}
    <div class="mt-4">
      <em>Guide:</em> {{name}}
    </div>
    <div>
      <em>Language:</em> {{language}}
    </div>
    <div>
      <em>Rating:</em> {{rating}}
    </div>
    {{/with}}

    {{/with}}
  </section>
  <hr>
  {{/each}}

</main>

{{/with}}